<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a book</title>
</head>

<body>
    <h1>Create books for {{ author.name }}</h1>
    <form method="POST">
        {% csrf_token %}
        {{ formset.management_form }}
        {{ formset.as_p }}
        <button>Submit</button>
    </form>
    
    <hr>

    <h2>Books</h2>
    {% for book in books %}
    <p>{{ book.title }} - {{ book.number_of_pages }}</p>
    {% endfor %}
</body>

</html>